body {background-color: #0000;}
body {margin:0;

font-family: 'merrieweather', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: merrieweather;
    src: url(fonts/Merrieweather-Regular.ttf);
 }

 .nav-logo {
     padding-left: 100px;
     position: absolute;
     z-index: 12;
     color: #FFF;
     margin: 0;
     
 }
 ul {
    list-style-type: none;
    margin: 0 70px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}

li {
    right: 0;
    padding-right: 20px;
    float: left;
}

li a {
    display: block;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

}
h1{
background-color: #a52b2a;

}

h2{
  text-align: left;
}

p {
 text-align: inherit;
 border: 6px;
}

.fota{
    margin: 0 auto;
}

.background{
    width: 100%;
    height: 100vh;
}

.arrow{
    top: 90vh;
    position: absolute;
    left:  45vw;
    width: 40px;
    height: 40px;

}


  #img1{

    float: right;
    position: relative;
    width: 40%;
    height: 40%;
  }
  #img2{
    margin-left: 100px;
    float: left;
    position: relative;
    width: 40%;
    height: 40%;
  }

.footer{
position: relative;
text-align: center;
bottom: -500px;
background-color: #a52b2a;
text-align: center;
font-family: 'Indie Flower', cursive;
font-size: 21px;
}
